<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pagina 3 Prueba</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://img.freepik.com/foto-gratis/desfile-autos-deportivos-o-carrera-carretera_114579-4052.jpg?w=2000" />
    <ion-card-header>
      <ion-card-title>Competencia de autos</ion-card-title>
      <ion-card-subtitle>Autos de carrera en una competencia</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Aqui podemos observar algunos vehiculos de competencia corriedo uno contra otro
      
    </ion-card-content>
  </ion-card>
  <ion-button (click)="presentAlert()">Puslar</ion-button>

</ion-content>
